.CE {
  list-style-type: none;
}

.CE mm-time.number-only {
  :not(.integer) {
    display: none;
  }
}

.CE mm-time.number-only.number-sign.past::before {
  content: "+";
}

.CE mm-time.number-only.number-sign.future::before {
  content: "-";
}

.CE .mm-time-parts.integer {
  font-weight: bold;
  color: white;
}

.CE .title {
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}
